{% extends 'base.html' %}


{% block body %}
    <ul class="list-group">
        <li class="list-group-item"><strong>ACTIVITY NAME: </strong>{{ activity.name }}</li>
        <li class="list-group-item"><strong>DURATION: </strong>{{ activity.duration }}h</li>
        <li class="list-group-item"><strong>CITY: </strong>{{ activity.get_city_display }}</li>
        <li class="list-group-item"><strong>ACTIVITY TYPE: </strong>{{ activity.get_activity_type_display }}</li>
        <li class="list-group-item">
            <strong>DESCRIPTION: </strong>
            <img src="{{ activity.image.url }}" style="float:right" width="500" height="400" class="ml-3">
            {{ activity.description }}
        </li>
    </ul>
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm mt-3 ml-3" role="button" aria-pressed="true">Go back</a>
    <a href="{% url 'city_breaks_app:travel-plans' %}" class="btn btn-primary btn-sm mt-3 ml-2" role="button" aria-pressed="true">Go to my travel plans</a>

{% endblock %}