{% extends 'base.html' %}

    {% block body %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-5">
            <h4 class="mb-3 font-weight-normal">
                <img src="/static/travel-logo-design.jpg" alt="" width="72" height="72">
                Add activity to your plan
            </h4>
        </div>
        <div class=" container input-group my-3 mc-sm-2">
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                {{ form }}
            </form>
            <button type="submit" class="btn btn-success mb-2">Add activity</button>
        </div>
        <div class="container">
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm mb-5" role="button" aria-pressed="true">Go back</a>
        </div>
    {% endblock %}