{% extends 'base.html' %}
{% load static %}

    {% block body %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send">
        </form>

        <ul>
            {% for activity in selected_activities %}
                <li>
                    {{ activity.name }}
                    <a href="">Details</a>
                    <a href="{% url 'city_breaks_app:add-activity-to-plan' activity.pk %}">Add to Travel Plan</a>
                </li>
            {% empty %}
                <p>There are no activities to be displayed.</p>
            {% endfor %}
        </ul>

    {% endblock %}