{% extends 'base.html' %}


{% block body %}
    <ul class="list-group">
        <li class="list-group-item"><strong>YOUR TRAVEL PLAN: </strong>{{ plan.name }}</li>
        <li class="list-group-item"><strong>PLAN DESCRIPTION: </strong>{{ plan.description }}</li>
        <li class="list-group-item"><strong>CREATED: </strong>{{ plan.created }}</li>
        <li class="list-group-item text-center">
            <h3>
                <img src="/static/travel-logo-design.jpg" alt="travel logo" width="72" height="72">
                <strong>ITINERARY </strong>
            </h3>
        </li>
    </ul>
    <table class="table table-striped ml-5">
        {% regroup plan_activities by week_day.get_name_display as week_day_list %}
            {% for week_day in week_day_list %}
                    <tr>
                        <th scope="row">
                            {% filter upper %}
                            {{ week_day.grouper }}
                            {% endfilter %}
                        </th>
                    </tr>
                    {% for activity in week_day.list %}
                        <tr>
                            <td>
                            {{ activity.get_time_display }}
                            {{ activity.activities.name }}
                            <a href="{% url 'city_breaks_app:activities-detail' activity.activities.pk %} " class="btn btn-warning btn-sm ml-3" role="button" aria-pressed="true" >Details</a>
                            <a href="{% url 'city_breaks_app:remove-activity-from-plan' plan.pk activity.activities.pk %} " class="btn btn-danger btn-sm ml-3" role="button" aria-pressed="true" >Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
            {% empty %}
                <li class="list-group-item">Your plan is empty.</li>
            {% endfor %}
    </table>
    <li class="list-group-item">
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm ml-5 my-2" role="button" aria-pressed="true">Go back</a>
        <a href="{% url 'city_breaks_app:select-activity' %}" class="btn btn-primary btn-sm ml-2 my-2" role="button" aria-pressed="true">Return to activity selection page</a>
        <a href="{% url 'city_breaks_app:ask-for-offer' plan.pk %}" class="btn btn-success ml-2 my-2" role="button" aria-pressed="true">Ask for offer based on your plan</a>
    </li>
{% endblock %}