{% extends 'base.html' %}


{% block body %}

    <div class="container mt-5 text-center">
            <h3 class="mb-4">
                <img src="/static/travel-logo-design.jpg" alt="" width="72" height="72">
                YOUR TRAVEL PLANS
            </h3>
    </div>
    <ul class="list-group">
            {% for plan in plans %}
                <li class="list-group-item">
                    <h5>{{ plan.name }}
                        <a href="{% url 'city_breaks_app:travel-plan-details' plan.pk %}" class="btn btn-primary ml-3" role="button" aria-pressed="true">Go to plan</a>
                        <a href="{% url 'city_breaks_app:ask-for-offer' plan.pk %}" class="btn btn-success ml-1" role="button" aria-pressed="true">Ask for offer based on your plan</a>
                    </h5>
                </li>
            {% empty %}
                <li class="list-group-item">
                    You have not created any plans or you are not logged in.
                    <a href="{% url 'auth_ex:login-user' %}?next={{ request.path|urlencode }}">Login</a>
                </li>
            {% endfor %}
    </ul>
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm mt-3 m-3" role="button" aria-pressed="true">Go back</a>
{% endblock %}