{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base page</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">
                Catch a <span>City Break</span>
            </a>
         <div>
             <h4><a href="">About</a></h4>
         </div>
         <div>
             <h4>Username</h4>
         </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <p>version=1.0 Author: Tomasz Gałązka. All rights reserved.
            {% if request.user.is_authenticated %}
                Logged user: {{ request.user.username }} <a href="{% url 'auth_ex:logout-user' %}">Logout</a>
            {% else %}
                You are not logged in: <a href="{% url 'auth_ex:login-user' %}">Login</a>
            {% endif %}
        </p>
    </footer>
</body>
</html>