{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container mb-5">
        <h1 class="mt-3 text-center"><strong><u>DESTINATIONS</u></strong></h1>
    </div>
    <div class="container mt-5 mb-3">
        <h3><strong><i>HOW DO YOU PLAN TO SPEND YOU CITY BREAK?</i></strong></h3>
    </div>
    <div class="container mb-5 text-justify">
        <p>Our offer has been carefully prepared with regard to what really interests you. Do you want to rest and take a casual walk around the city with our best guide? No problem!
        Or maybe exploring the cities nightlife is on your mind? Pub crawl? And we are prepared for that! Set your preferences and search our suggestions.</p>
    </div>
    <div class="container mt-5 mb-3">
        <h2><strong><i>WHY WARSAW?</i></strong></h2>
    </div>
    <div class="container text-justify mt-3">
        <img src="/static/warsaw_sightseeing.png" style="float:left" width="350" height="250" class="mr-3">
        <p><strong>INVINCIBLE.</strong> Nowadays, still breathing with its glamour's past, presently became the cosmopolitan center in Poland, and the former Eastern Europe area. Like in no other Polish city, here in Warsaw, you will find a splendid mosaic of tradition and modernity through its art, architecture, music and cuisine.</p>
        <p><strong>CLOSER THAN YOU THINK!</strong> Easily reached within 2 hours from all major cities in Europe.</p>
        <p><strong>MONEY SAVER.</strong> With Poland's favorable exchange rate, your money in Warsaw goes further than in other European cities. </p>
        <p><strong>SPECTACULAR CONTRASTS!</strong> Warsaw is an exciting city with many faces, from old historical buildings to modern city of polish designers.</p>
    </div>
    <div class="container mt-5 mb-3">
        <h2><strong><i>WHY KRAKOW?</i></strong></h2>
    </div>
    <div class="container text-justify mt-3">
        <img src="/static/why_krakow.png" style="float:left" width="350" height="250" class="mr-3">
        <p>World Heritage Charm - the <strong>CULTURAL CAPITAL</strong> of Poland with diverse cultural events including: Ludwig van Beethoven, Summer Jazz, Jewish Culture and Music in Old Krakow International Festivals.</p>
        <p>A <strong>UNIVERSITY CITY</strong> - bustling day and night with its lively pubs, coffee shops and clubs.</p>
        <p>Krakow is a <strong>HIVE OF ATTRACTIONS</strong> of the unique underground world of salt lakes, chambers and monuments in Wieliczka Salt Mine.</p>
        <p><strong>LISTED BY UNESCO</strong>, often referred as „Little Rome" or „Florence of the north”. City wrapped in legend, where time flows differently.</p>
    </div>
    <div class="container mt-5 mb-3">
        <h2><strong><i>WHY GDANSK?</i></strong></h2>
    </div>
    <div class="container text-justify mt-3 mb-5">
        <img src="/static/gdansk.png" style="float:left" width="350" height="250" class="mr-3">
        <p><strong>A GENUINE PEARL ON THE MAP OF POLAND</strong>. Tourists attracted to this Region admire it’s beautiful nature and unique monuments from the past.</p>
        <p><strong>IS A CRADLE OF FAMOUS SOLIDARITY TRADE UNION</strong>, where collapse of communism in Europe in 1980 started and where Lech Wałęsa - symbol of Polish fight for freedom and Noble Prize Winner – lives.</p>
        <p><strong>FOR LOVERS OF ACTIVE LEISURE</strong> – excellent conditions for sports: windsurfing, canoeing, cycling, hiking, riding, sea fishing, hunting and golf.</p>
    </div>
{% endblock %}