{% extends 'base.html' %}
{%  load static %}

    {% block body %}
        <h2>Welcome to my webpage.</h2>
        <li>
            <a href="{% url 'destination-activities' %}">Destinations and activity types</a>
        </li>
        <li>
            <a href="{% url 'auth_ex:register-user' %}">Register</a>
        </li>
        <li>
            <a href="{% url 'auth_ex:login-user' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'city_breaks_app:travel-plan-create' %}?next={{ request.path|urlencode }}">Create my Travel Plan</a>
        </li>
        <li>
            <a href="{% url 'city_breaks_app:travel-plans' %}">Go to my plans</a>
        </li>
        <li>
            <a href="{% url 'city_breaks_app:select-activity' %}?next={{ request.path|urlencode }}">Where do you want to go?</a>
        </li>
    {% endblock %}